In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("news_data_dedup.csv")

In [9]:
df.head()

,guid,title,description,venue,url,published_at,updated_at
0,e3dc5caa18f9a16d7edcc09f8d5c2bb4,Harvey Weinstein's 2020 rape conviction overtu...,Victims group describes the New York appeal co...,BBC,https://www.bbc.co.uk/news/world-us-canada-688...,2024-04-25 18:24:04+00,2024-04-26 20:03:00.628113+00
1,297b7152cd95e80dd200a8e1997e10d9,Police and activists clash on Atlanta campus a...,"Meanwhile, hundreds of students march in Washi...",BBC,https://www.bbc.co.uk/news/live/world-us-canad...,2024-04-25 13:40:25+00,2024-04-26 20:03:00.654819+00
2,170bd18d1635c44b9339bdbaf1e62123,Haiti PM resigns as transitional council sworn in,The council will try to restore order and form...,BBC,https://www.bbc.co.uk/news/world-latin-america...,2024-04-25 18:11:02+00,2024-04-26 20:03:00.663393+00
3,e696224ac208878a5cec8bdc9f97c632,Europe risks dying and faces big decisions - M...,The French president delivers a stark warning ...,BBC,https://www.bbc.co.uk/news/world-europe-68898887,2024-04-25 14:51:15+00,2024-04-26 20:03:00.672106+00
4,733f744b006fb13033d264efcaf8edad,Prosecutors ask for halt to case against Spain...,Pedro Sánchez is deciding whether to resign af...,BBC,https://www.bbc.co.uk/news/world-europe-68895727,2024-04-25 13:07:42+00,2024-04-26 20:03:00.682205+00

In [5]:
df.dtypes

guid            object
title           object
description     object
venue           object
url             object
published_at    object
updated_at      object
dtype: object

In [7]:
df.describe().T

,count,unique,top,freq
guid,870,870,e3dc5caa18f9a16d7edcc09f8d5c2bb4,1
title,870,841,JPMorgan CEO Jamie Dimon Gives a Soft Landing ...,3
description,870,845,The Guardian’s picture editors select photogra...,3
venue,870,12,The Guardian,301
url,870,851,https://www.wsj.com/world/europe/u-k-charges-b...,2
published_at,870,783,2024-04-27 04:01:00+00,15
updated_at,870,870,2024-04-26 20:03:00.628113+00,1

In [8]:
df['venue'].unique()

array(['BBC', 'NYT', 'El Pais', 'France24', 'WSJ', 'News.com.au', 'RT',
       'The Guardian', 'Al Jazeera', 'Times of India', 'Washington Post',
       'The Economist'], dtype=object)